.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.div-container {
  border: 1px solid orangered;
  padding: 30px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-psw {
  display: flex;
  flex-direction: column;
}

.email-label {
  color: rgb(209, 70, 70);
  padding: 5px;
  font-weight: 700;
}

.password-label {
  color: rgb(209, 70, 70);
  padding: 5px;
  font-weight: 700;
}
#email-input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid orangered;
}

#password-input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid orangered;
}
.confirm-psw-div {
  display: flex;
  flex-direction: column;
}
#confirm-password-input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid orangered;
}
.btn-submit-form {
  background-color: rgb(187, 117, 67);
  width: 100px;
  height: 40px;
  color: rgb(219, 195, 195);
  font-weight: 700;
  border: none;
  border-radius: 15px;
}
.btn-change-form {
  background-color: rgb(68, 68, 235);
  width: 100px;
  height: 40px;
  color: rgb(219, 195, 195);
  font-weight: 700;
  border: none;
  border-radius: 15px;
}
.signIn{
    padding: 10px;
    color: green;
}

.btn-forgot-pass{
  background-color: rgb(70, 75, 9);
  width: 100px;
  height: 40px;
  color: rgb(219, 195, 195);
  font-weight: 700;
  border: none;
  border-radius: 15px;
}